body {
    margin: 0;
    padding: 0;
    background-color: #222
}

.background_div {
    background-color: lightgray;
    width: 1000px;
    height: 100%;
    border: 2px solid black;
    margin: auto;
    font-size: 45px;
    max-width: 100%;
    max-height: 100%;
}

.div1 {
    padding-top: 5px;
    height: 100px;
    width: 100%;
    background-color: lightblue;
}

h2 {
    margin-top: 5px;
    text-align: center;
}

button {
    background-color: orange;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    button:hover {
        background-color: orangered;
    }

a:hover {
    color: red
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 25px;
}

form {
    font-size: 25px;
    padding-left: 5vh;
}

.links {
    font-size: 20px;
    padding-left: 5vh
}

#p1 {
    font-size: 20px;
    line-height: 5px;
    padding-left: 5vh;
}

.knapper {
    background-color: rgb(0, 255, 148);
    padding-bottom:10px;
}
